#loginForm > input,
#signUpForm > input {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#loginForm,
#signUpForm {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  align-items: center;
}

#loginForm > button,
#signUpForm > button {
  background-color: orange;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;

  border-radius: 5px;
}

#loginForm > button:hover,
#signUpForm > button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
